<% include headers %>

<h1 class = "top">
    <link rel="stylesheet" href="/css/index.css">
    your animes here
</h1>

<a class = "btn btn-primary btn-large special" href="animes/new">New Anime</a>

<div class = "contanier">
    <div class = "jumbtron">
           
            <% animes.forEach(function(anime,index){%>
                <h1 class="display-4"><%=index+1%>. <%=anime.name%></h1> 
                <img src = " <%=anime.image%>">
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
           
            <% }); %>
    </div>
</div>
    








<% include footers %>