<% include headers %>
<form action="/anime", method="POST">
    <p><input type="text" name="name" placeholder="anime name"></p>
    <p><input type="text" name="image" placeholder="image url"></p>
    <p><input type="text" name="description" placeholder="description"></p>
    <p><input type="text" name="rating" placeholder="rating"></p>
    <button>submit</button>
</form>

<%include footers %>