h1.top {
    text-align: center;
}
body {
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.contanier {
    margin: 0 60px;
    padding: 100px 0;
}

a.btn.btn-primary.btn-lg {
    margin-bottom: 140px;
}

a.special {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%
}